
:root {
    --send-bg: #0B93F6;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
}



.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}



body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    max-width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--page-background);
}

p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
}

:before, :after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}


.send {
    color: var(--send-color);
    background: var(--send-bg);
    align-self: flex-end;
}

:before {
    right: -7px;
    width: 20px;
    border-bottom-left-radius: 16px 14px;
}

:after {
    right: -26px;
    width: 26px;
    background-color: var(--page-background);
    border-bottom-left-radius: 10px;
}

.link {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;
}

.link:after {
    left: -26px;
    width: 46px;
    background-color: var(--page-background);
    border-bottom-right-radius: 10px;
}

.link:before {
    left: -7px;
    width: 46px;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
}



.receive {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;
}

.receive:before {
    left: -7px;
    width: 20px;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
}

.send:before {
    right: -7px;
    width: 20px;
    background-color: var(--send-bg);
    border-bottom-right-radius: 16px 14px;
}

.receive:after {
    left: -26px;
    width: 26px;
    background-color: var(--page-background);
    border-bottom-right-radius: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 1px;
    backround-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(3,end) 900ms infinite;
}

@keyframes ellipsis {
    from {
        background-color: #bbb;
    }
    50% {
        background-color: #727272;
    }
    to {
        background-color: #6d6d6d;
    }
}


@keyframes gentle {
    from {
        padding: 10px 20px;
        font-size: 20px ;
    }

    50% {
        padding: 20px 30px;
        font-size: 15px;

    }

    to {
        padding: 10px 20px;
        font-size: 20px;

    }
}

/*
blue big
text big
text shakes
container shakes other way

 */
@keyframes loud {
    from {
        padding: 10px 20px;
        font-size: 20px;
    }

    2% {
        transform: rotate(0.005turn);
    }
    4% {
        transform: rotate(-0.005turn);
    }

    6% {
        transform: rotate(0.005turn);
    }
    8% {
        transform: rotate(-0.005turn);
    }
    10% {
        transform: rotate(0.005turn);
    }
    12% {
        transform: rotate(-0.005turn);
    }
    14% {
        transform: rotate(0.005turn);
    }
    16% {
        transform: rotate(-0.005turn);
    }
    18% {
        transform: rotate(0.005turn);
    }
    20% {
        transform: rotate(-0.005turn);
    }
    22% {
        transform: rotate(0.005turn);
    }
    24% {
        transform: rotate(-0.005turn);
    }
    26% {
        transform: rotate(0.005turn);
    }
    28% {
        transform: rotate(-0.005turn);
    }
    30% {
        transform: rotate(0.005turn);
    }
    32% {
        transform: rotate(-0.005turn);
    }
    34% {
        transform: rotate(0.005turn);
    }
    36% {
        transform: rotate(-0.005turn);
    }
    38% {
        transform: rotate(0.005turn);
    }


    40% {
        padding: 20px 30px;
        font-size: 30px;
    }
    42% {
        transform: rotate(0.005turn);
    }
    44% {
        transform: rotate(-0.005turn);
    }

    46% {
        transform: rotate(0.005turn);
    }
    48% {
        transform: rotate(-0.005turn);
    }
    50% {
        transform: rotate(0.005turn);
    }
    52% {
        transform: rotate(-0.005turn);
    }
    54% {
        transform: rotate(0.005turn);
    }
    56% {
        transform: rotate(-0.005turn);
    }
    58% {
        transform: rotate(0.005turn);
    }
    60% {
        transform: rotate(-0.005turn);
    }
    62% {
        transform: rotate(0.005turn);
    }
    64% {
        transform: rotate(-0.005turn);
    }
    66% {
        transform: rotate(0.005turn);
    }
    68% {
        transform: rotate(-0.005turn);
    }
    70% {
        transform: rotate(0.005turn);
    }
    72% {
        transform: rotate(-0.005turn);
    }
    74% {
        transform: rotate(0.005turn);
    }
    76% {
        transform: rotate(-0.005turn);
    }
    78% {
        transform: rotate(0.005turn);
    }

    80% {
        transform: rotate(-0.005turn);
    }

    to {
        padding: 10px 20px;
        font-size: 20px;
    }

}


/*
create an appear one where the typing
happens and then the message appears
 */

/*
associate each so that the effects vary for
sent and received
 */